a {
   text-decoration: none;
   font-size: 15px;
}

p {
    color:red;
    font-size:20px;
}

img.logo {
    width: 350px;
    height: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3
{
  font-weight: normal;
  color: #66669c;
  margin-top: 50px;
}

h3
{
    margin-top: 30px;
}

h1
{
    margin-left: 67px;
}

tr:nth-child(even) 
{
    background: #EEE;
}
tr:nth-child(odd) 
{
    background: #FFF;
}

input.val
{
    padding: 3px 5px;
}

.wrongformat {
    color:red;
}

td.wrongformat {
    font-color:red;
}

form
{
    width: 90%;
    margin: 0 auto;
}

input[type="submit"]
{
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}

input[class="dwnl"]
{
    margin-bottom: 15px;
}

th
{
    font-weight: normal;  
    padding: 5px;
}

body
{
    font-family: verdana, arial, sans-serif;
}

td
{
    border: 1px solid #ccc;
    padding: 5px;
}

table
{
    border-collapse: collapse;
    margin-bottom: 40px;
}
